#
# PIC32C ethernet controller configuration
#

config NET_PIC32
	bool "Microchip PIC32 devices"
	depends on MACH_PIC32
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.
	  Make sure you know the name of your card. Read the Ethernet-HOWTO,
	  available from <http://www.tldp.org/docs.html#howto>.

	  If unsure, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the remaining PIC32 network card questions. If you say Y, you will be
	  asked for your specific card in the following questions.

if NET_PIC32

config PIC32_ETHER
	tristate "Microchip PIC32 Ethernet support"
	default y
	select PHYLIB
	---help---
	  If you have a PIC32 and want to use ethernet, say Y
	  and read the Ethernet-HOWTO, available from
	  <http://www.tldp.org/docs.html#howto>.

endif
