#
# Microchip network device configuration
#

config NET_VENDOR_MICROCHIP
	bool "Microchip devices"
	default y
	---help---
	  If you have a network (Ethernet) card belonging to this class, say Y.

	  Note that the answer to this question doesn't directly affect the
	  kernel: saying N will just cause the configurator to skip all
	  the questions about Microchip cards. If you say Y, you will be asked
	  for your specific card in the following questions.

if NET_VENDOR_MICROCHIP

config PIC32EC
	tristate "PIC32 Ethernet Controller support"
	depends on MACH_PIC32
	default y
	select PHYLIB
	---help---
	  The PIC32 ethernet controller is found on the Microchip PIC32
	  microcontrollers. Say Y to include support for the PIC32 ethernet
	  controller.

	  To compile this driver as a module, choose M here: the module
	  will be called pic32ec.

config ENC28J60
	tristate "ENC28J60 support"
	depends on SPI
	select CRC32
	---help---
	  Support for the Microchip EN28J60 ethernet chip.

	  To compile this driver as a module, choose M here. The module will be
	  called enc28j60.

config ENC28J60_WRITEVERIFY
	bool "Enable write verify"
	depends on ENC28J60
	---help---
	  Enable the verify after the buffer write useful for debugging purpose.
	  If unsure, say N.

endif # NET_VENDOR_MICROCHIP
