/*
 * Copyright 2015 Microchip Technology, Inc.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 as
 * published by the Free Software Foundation.
 *
 */

/dts-v1/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/pinctrl/pic32mzda.h>

#include "pic32mzda.dtsi"

/ {
	compatible = "microchip,pic32mzda-sk", "microchip,pic32mzda";
	model = "Microchip PIC32MZDA Starter Kit";

	memory {
		device_type = "memory";
		reg = <0x08000000 0x08000000>;
	};

	chosen {
		bootargs = "earlyprintk=ttyS1,115200n8r console=ttyS1,115200n8";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&user_leds_s0>;

		led@1 {
			label = "pic32mzda_sk:red:heartbeat";
			gpios = <&pioH 0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
		};

		led@2 {
			label = "pic32mzda_sk:yellow:led2";
			gpios = <&pioH 1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "mmc0";
		};

		led@3 {
			label = "pic32mzda_sk:green:led3";
			gpios = <&pioH 2 GPIO_ACTIVE_HIGH>;
			default-state = "on";
		};

	};

	keys0 {
		compatible = "gpio-keys-polled";
		pinctrl-0 = <&user_buttons_s0>;
		pinctrl-names = "default";

		#address-cells = <1>;
		#size-cells = <0>;
		poll-interval = <300>;

		button@sw1 {
			label = "GPIO Power";
			linux,code = <116>;
			gpios = <&pioB 12 0>;
		};

		button@sw2 {
			label = "Tab";
			linux,code = <15>;
			gpios = <&pioB 13 0>;
		};

		button@sw3 {
			label = "Enter";
			linux,code = <28>;
			gpios = <&pioB 14 0>;
		};
	};

	pwm8 {
		compatible = "microchip,pic32-pwm";
		microchip,timer = <&PBTIMER23>;
		microchip,ocmp = <&OCMP8>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_oc8>;
		status = "okay";
	};

	pwm9 {
		compatible = "microchip,pic32-pwm";
		microchip,timer = <&PBTIMER23>;
		microchip,ocmp = <&OCMP9>;
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_oc9>;
		status = "okay";
	};
};

&eth0 {
	mac-address = [00 00 00 00 00 00];
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_eth0>;
	reset-gpio = <&pioJ 15 0>;
	status = "okay";
};

&usart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart2>;
	status = "okay";
};

&usart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	status = "okay";
};

&i2c3 {
	#address-cells = <1>;
	#size-cells = <0>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_i2c3>;
	status = "okay";
};

&usb1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1>;
	status = "okay";

	usb_overcurrent@0 {
		interrupt-parent = <&pioB>;
		interrupts = <11 PIC32_CN_FALLING>;
	};
};

&usb1_phy {
	status = "okay";
};

&sdhci {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_sdhc1>;
	status = "okay";
};

&spi2 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_spi2>;
	cs-gpios = <&pioD 0 GPIO_ACTIVE_LOW>, <&pioD 14 GPIO_ACTIVE_LOW>;
	status = "okay";
};

&pic32_pinctrl {

	usb1 {
		pinctrl_usb1: usb1_oc-0 {
			pic32,single-pins = <PORT_B 11 PIC32_PIN_CONF_DG_IN>;
		};
	};

	oc_pins8 {
		pinctrl_oc8: ocmp8_pins {
			pic32,pins = <PIC32_RP_OUT_RPB8 PIC32_PP_OUT_OC8
					PIC32_PIN_CONF_DG_OUT>;
		};
	};

	oc_pins9 {
		pinctrl_oc9: ocmp9_pins {
			pic32,pins = <PIC32_RP_OUT_RPG9 PIC32_PP_OUT_OC9
					PIC32_PIN_CONF_DG_OUT>;
		};
	};

	sdhc1 {
		pinctrl_sdhc1: sdhc1_pins0 {
			/* SDCLK */
			pic32,single-pins = <PORT_A 6 PIC32_PIN_CONF_DG>,
				<PORT_D 4 PIC32_PIN_CONF_DG>,	  /* SDCMD */
				<PORT_G 13 PIC32_PIN_CONF_DG>,	  /* SDDATA0 */
				<PORT_G 12 PIC32_PIN_CONF_DG>,	  /* SDDATA1 */
				<PORT_G 14 PIC32_PIN_CONF_DG>,	  /* SDDATA2 */
				<PORT_A 7 PIC32_PIN_CONF_DG>,	  /* SDDATA3 */
				<PORT_A 0 PIC32_PIN_CONF_DG>;	  /* SDCD */
		};
	};

	i2c3 {
		pinctrl_i2c3: i2c3_0 {
			pic32,single-pins = <PORT_F 8 PIC32_PIN_CONF_DG>,
				<PORT_F 2 PIC32_PIN_CONF_DG>;
		};
	};

	spi2 {
		pinctrl_spi2: spi2_0 {
			pic32,single-pins = <PORT_G 6 PIC32_PIN_CONF_DG_OUT
						PORT_D 0 PIC32_PIN_CONF_DG_OUT
						PORT_D 14 PIC32_PIN_CONF_DG_OUT>;

			pic32,pins = <PIC32_RP_IN_RPD7 PIC32_PP_IN_SDI2
					PIC32_PIN_CONF_DG_IN
				PIC32_RP_OUT_RPG8 PIC32_PP_OUT_SDO2
					PIC32_PIN_CONF_DG_OUT>;
		};
	};

	eth0 {
		pinctrl_eth0: eth0_0 {
			pic32,single-pins = <PORT_D 11 PIC32_PIN_CONF_DG>,
				<PORT_D 6 PIC32_PIN_CONF_DG>,
				<PORT_H 13 PIC32_PIN_CONF_DG>,
				<PORT_H 8 PIC32_PIN_CONF_DG>,
				<PORT_H 8 PIC32_PIN_CONF_PD>,
				<PORT_H 5 PIC32_PIN_CONF_DG>,
				<PORT_H 5 PIC32_PIN_CONF_PD>,
				<PORT_F 3 PIC32_PIN_CONF_DG>,
				<PORT_J 11 PIC32_PIN_CONF_DG>,
				<PORT_J 9 PIC32_PIN_CONF_DG>,
				<PORT_J 8 PIC32_PIN_CONF_DG>,
				<PORT_J 1 PIC32_PIN_CONF_DG>,
				<PORT_J 15 PIC32_PIN_CONF_DG_OUT>;
		};
	};

	leds {

		user_leds_s0: user_leds_s0 {
			pic32,single-pins = <PORT_H 0 PIC32_PIN_CONF_DG_OUT
				PORT_H 1 PIC32_PIN_CONF_DG_OUT
				PORT_H 2 PIC32_PIN_CONF_DG_OUT>;
		};
	};

	buttons0 {
		user_buttons_s0: user_buttons_s0 {
			pic32,single-pins = <PORT_B 12 PIC32_PIN_CONF_PU_IN
				PORT_B 13 PIC32_PIN_CONF_PU_IN
				PORT_B 14 PIC32_PIN_CONF_PU_IN>;
		};
	};

	uart2 {
		pinctrl_uart2: uart2-0 {
			pic32,pins = <PIC32_RP_OUT_RPG9 PIC32_PP_OUT_U2TX
					PIC32_PIN_CONF_DG_OUT
				PIC32_RP_IN_RPB0 PIC32_PP_IN_U2RX
					PIC32_PIN_CONF_DG_IN>;
		};
	};

	uart4 {
		pinctrl_uart4: uart4-0 {
			pic32,pins = <PIC32_RP_OUT_RPC3 PIC32_PP_OUT_U4TX
					PIC32_PIN_CONF_DG_OUT
				PIC32_RP_IN_RPE8 PIC32_PP_IN_U4RX
					PIC32_PIN_CONF_DG_IN>;
		};
	};
};
