config SND_PIC32_SOC_I2S
	tristate

config SND_PIC32_SOC
	tristate "SoC Audio support for the Microchip PIC32"
	depends on MACH_PIC32
	select SND_SOC_DMAENGINE_PCM
	select DMA_PIC32
	select SND_SOC_GENERIC_DMAENGINE_PCM
	help
	  Say Y or M if you want to add support for codecs attached to
	  the PIC32 I2S interface. You will also need
	  to select the audio interfaces to support below.

config SND_PIC32_SOC_CODEC_PROTO
	tristate "Support for Audio Codec Board PROTO (WM8731)"
	depends on SND_PIC32_SOC
	select SND_PIC32_SOC_I2S
	select SND_SOC_WM8731
	help
	  Say Y if you want to add support for Audio Codec Board - PROTO
	  (WM8731) on PIC32.

config SND_PIC32_SOC_CODEC_AK4953A
	tristate "Support for Audio Codec AK4953A"
	depends on SND_PIC32_SOC
	select SND_PIC32_SOC_I2S
	select SND_SOC_AK4953
	help
	  Say Y if you want to add support for Audio Codec AK4953A on Microchip
	  PIC32.
